.table {
  border-spacing: 0;
  margin: 1rem;
  background-color: #f8f8f8;
}

.table__row:nth-child(even) {
  background-color: #e5e5e5;
}

.table__header {
  text-align: left;
}

.table__cell {
  padding: 8px;
}

.simulation-span {
  margin-top:10px;
}