<!DOCTYPE html>
<html lang="en">
	  <head>
        <!--Import JQuery-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="{{url_for('static', filename='resources.js')}}"></script>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Dashboard 2.0</title>
	  </head>
    
    <body>
        <h1 style="text-align:center">Resources</h1>
          
        <div class="w3-main w3-content w3-padding" style="max-width:1800px; margin-bottom: 100px;">
            <div id="container" style="text-align:center"></div>
        </div>
    </body>

    <script>
        console.log(resource_list);
        var container = document.getElementById("container");
        for (let i = 0; i < Math.ceil(resource_list.length/4); i++) {
            container.innerHTML += '<div class="w3-row-padding w3-padding-16 w3-center">';
            for (let j = 0; j < 4; j++) {
                let resource = resource_list.pop()
                container.innerHTML += `<div class="w3-quarter"><a href=${resource}><h3>` + resource + '</h3></a></div>';
            }
            container.innerHTML += '</div>';
        }
    </script>
</html>
