<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>
        <script src="{{url_for('static', filename='stopwatch.js')}}"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
		<meta charset="utf-8">
		<title>Dashboard</title>
	</head>
	
	<body style="font-size: medium;">
		<h1 style="text-align:center; margin:20px;">Simulator</h1>
		
		<div class="container-lg">
			<!--Resource List Dropdown-->
			<div class="form-group" style="margin-bottom:10px;">
				<label for="select-rtype">Resource Type</label>
				<select class="form-select" id='select-rtype'>
					<option value="DiagnosticReport">DiagnosticReport</option>
					<!-- <option selected>None</option>
					<option value="AllergyIntolerance">AllergyIntolerance</option>
					<option value="CarePlan">CarePlan</option>
					<option value="Claim">Claim</option>
					<option value="DiagnosticReport">DiagnosticReport</option>
					<option value="Immunization">Immunization</option>
					<option value="MedicationAdministration">MedicationAdministration</option>
					<option value="Observation">Observation</option>
					<option value="Procedure">Procedure</option> -->
				</select>
			</div>

			<!--Duration Textbox-->
			<div class="form-group" style="margin-bottom:10px;">
				<label for="input-duration">Duration</label>
				<input type="text" class="form-control" id="input-duration" aria-describedby="duration-help" placeholder="Enter Simulation Duration">
				<small id="duration-help" class="form-text text-muted">Enter duration in seconds. E.g. 3600 for 1 hour.</small>
			</div>

			<!--Button-->
			<button id="start-button" type="button" class="btn btn-primary" onclick=verifyForm()>Simulate Events</button>
			<span id='simulation-status' style="margin-left:15px;"></span>
			<button id="stop-button" type="button" class="btn btn btn-danger" style="float:right" onclick=StopSimulation() disabled>Stop Simulation</button>

			<!--Simulation Attributes-->
			<div class="text-muted" style="margin-top:10px;"><span>Resource Type: </span><span id="rtype-val">None</span></div>
			<div class="simulation-span text-muted"><span>Duration: </span><span id="duration-val">None</span><span > seconds</span></div>
			<div class="simulation-span text-muted">
				<span>Events Recieved: </span>
				<span id="recieved-events-val">0</span>
				<span >/</span>
				<span id="total-events-val">0</span>
			</div>
			<div class="simulation-span text-muted">
				<span>Time Elapsed: </span>
				<span id="elapsed-h">00</span> :
				<span id="elapsed-m">00</span> :
				<span id="elapsed-s">00</span> :
				<span id="elapsed-ms">00</span>
			</b></div>
			<table class="table table-striped table-sm " id="event-table" style="margin-left:0px; font-size:16px;" >
				<tbody>
					<tr>
						<th scope="col">Event no.</th>
						<th scope="col">Resource</th>
						<th scope="col">Ref. count</th>
						<th scope="col">References</th>
						<th scope="col">Elapsed timestamp</th>
						<th scope="col">Status</th>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	
	<!-- Verify and start simulation -->
	<script>
		function verifyForm() {
			var rtype = document.getElementById('select-rtype').value;
			var duration = parseInt(document.getElementById('input-duration').value);
			if (rtype == 'None') {
				document.getElementById("simulation-status").innerHTML = 'Choose a resource type.';
			}
			else if (duration == '' || isNaN(duration) || duration < 2) {
				document.getElementById("simulation-status").innerHTML = 'Enter a valid duration.';
			}
			else {
				document.getElementById("rtype-val").innerHTML = rtype;
				document.getElementById("duration-val").innerHTML = duration;
				startSimulation(rtype, duration);
			}
		}

		function startSimulation(resource_type, duration) {
			document.getElementById("simulation-status").innerHTML = 'Generating events...';
			document.getElementById("start-button").disabled = true;
			$("#event-table").find("tr:gt(0)").remove();
			socket.emit('start_simulation', {'rtype': resource_type, 'duration':duration})
		}

		function StopSimulation() {
			socket.emit('stop_simulation', true)
		}

		function resetVariables() {
			resetStopwatch();
			num_of_events = 0;
			events_recieved = 0;
			document.getElementById("start-button").disabled = false;
			document.getElementById("stop-button").disabled = true;
			document.getElementById("rtype-val").innerHTML = 'None';
			document.getElementById("duration-val").innerHTML = '0';
			document.getElementById("recieved-events-val").innerHTML = '0';
			document.getElementById("total-events-val").innerHTML = '0';
		}
	</script>
	
	
	<!-- Send slider value to Flask via socket -->
	<script type="text/javascript">
		var socket = io()

		socket.on('Simulation End', function(data) {
			if (num_of_events == events_recieved) {
				document.getElementById("simulation-status").innerHTML = 'Simulation completed. '
			}
			else {
				document.getElementById("simulation-status").innerHTML = 'Simulation ended early. '
			}
			document.getElementById("simulation-status").innerHTML += `${events_recieved}/${num_of_events} events recieved.`
			resetVariables();
		});
		
		var num_of_events = 0;
		var events_recieved = 0;

		socket.on('Post Bundle', function(bundle, elapsed, status_code) {
			events_recieved++;
			document.getElementById("recieved-events-val").innerHTML = events_recieved;
			//TODO generate stop it
			//COMPLETED/ENDED EARLY DIFFERENCE 
			var table = document.getElementById("event-table");
			var row = table.insertRow(1);
			row.insertCell(0).innerHTML = `${events_recieved}/${num_of_events}`;
			row.insertCell(1).innerHTML = bundle.entry[0].resource.resourceType + ' ' + bundle.entry[0].resource.id;
			row.insertCell(2).innerHTML = bundle.entry.length-1;

			var reference_col = row.insertCell(3);
			for (var i = 1, len = bundle.entry.length; i < len; i++) {
				reference_col.innerHTML += bundle.entry[i].resource.resourceType + ' ' + bundle.entry[i].resource.id + '</br>';
			}
			
			row.insertCell(4).innerHTML = elapsed;
			if (String(status_code).startsWith('2')) {
				row.insertCell(5).innerHTML = `<button class="btn btn-sm btn-success status-box" disabled>${status_code}</button>`;
			} 
			else {
				row.insertCell(5).innerHTML = `<button class="btn btn-sm btn-success status-box" style="background-color:#dc3545; border-color:#dc3545;" disabled>${status_code}</button>`;
			}
			
		});
		
		socket.on('Sending Events', function(data) {
			startStopwatch()
			num_of_events = data
			document.getElementById("stop-button").disabled = false;
			document.getElementById("simulation-status").innerHTML = 'Simulation Started.';
			document.getElementById("total-events-val").innerHTML = num_of_events;
		});
	</script>
</html>
	


<!--time elapsed, number of remaining, post events in webpage-->